﻿<appSettings>
  <!-- FSU MAIL ACCOUNT < 2.14.3 -->
  <!--<add key="Email_Host_Name" value="" />-->
  <!--<add key="Email_Host_Port" value="587" />-->
  <!--<add key="Email_Account_Name" value="" />-->
  <!--<add key="Email_Account_Password" value="" />-->
  <!--<add key="Email_From_Name" value="" />-->
  <!--<add key="Email_From_Address" value="" />-->
  
  <!--<add key="Ldap_Enabled" value="true" />-->
  <!--<add key="Ldap_ConnectionString" value="ldapHost:ldap.forumsys.com;ldapPort:389;ldapBaseDn:dc=example,dc=com;ldapSecure:false;ldapAuthUid:uid;ldapProtocolVersion:3" />-->

  <!-- FSU MAIL ACCOUNT >= 2.14.3 -->
  <add key="Email_Host_Name" value="smtp.email.com" />
  <add key="Email_Host_Port" value="587" />
  <add key="Email_Account_Name" value="username" />
  <add key="Email_Account_Password" value="password" />
  <add key="Email_From_Name" value="Max Mustermann" />
  <add key="Email_From_Address" value="max.mustermann@bexis2.com" />
  
  <!-- FSU LDAP ACCOUNT >= 2.14.3 -->
  <add key="Ldap_Host_Name" value="ldap1.uni-jena.de" />
  <add key="Ldap_Host_Port" value="636" />
  <add key="Ldap_Host_Version" value="3" />
  <add key="Ldap_Host_Ssl" value="true" />
  <add key="Ldap_Host_AuthType" value="1" />
  <add key="Ldap_Host_Scope" value="0" />
  <add key="Ldap_Host_BaseDn" value="ou=users,dc=uni-jena,dc=de" />
  <add key="Ldap_User_Identifier" value="uid" />
  <add key="Ldap_Enabled" value="true" />

</appSettings>