<appSettings>
  <!-- FSU MAIL ACCOUNT < 2.14.3 -->
  <!--<add key="Email_Host_Name" value="" />-->
  <!--<add key="Email_Host_Port" value="587" />-->
  <!--<add key="Email_Account_Name" value="" />-->
  <!--<add key="Email_Account_Password" value="" />-->
  <!--<add key="Email_From_Name" value="" />-->
  <!--<add key="Email_From_Address" value="" />-->

  <!-- FSU MAIL ACCOUNT >= 2.14.3 -->
  <add key="Email_Host_Name" value="smtp.email.com" />
  <add key="Email_Host_Port" value="587" />
  <add key="Email_Account_Name" value="username" />
  <add key="Email_Account_Password" value="password" />
  <add key="Email_From_Name" value="Max Mustermann" />
  <add key="Email_From_Address" value="max.mustermann@bexis2.com" />

  <add key="Ldap_Enabled" value="true" />
  <add key="Ldap_ConnectionString" value="ldapHost:ldap.forumsys.com;ldapPort:389;ldapBaseDn:dc=example,dc=com;ldapSecure:false;ldapAuthUid:uid;ldapProtocolVersion:3" />
</appSettings>